---
import Content from "../components/Content.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="关于" mustHeader>
  <Content>
    <p class="text-justify leading-8 hyphens-auto text-lg">
      乐队名译为梦幻海岸线 ，因为我们渴望大海，向往日落。于2024年初夏成立于中国深圳，成员来自于南方赣粤两地。虽然是三件式配置，但我们的声音不仅限于吉他、贝斯、鼓。我们正在做新的尝试，以shoegaze和dreampop为基础，融入一些实验性的东西，谨记：“音乐的可能性不会被风格所限制”。
    </p>
    <!-- <p class="text-justify lading-10 text-lg">
      The band name translates to Dreamy Coastline, because we long for the sea and the sunset. Founded in the early summer of 2024 in Shenzhen, China, with members from Gan and Guangdong in the south. Although it is a three-piece configuration, our sound is not limited to guitar, bass and drums. We are making new attempts to incorporate some experimental stuff based on shoegaze and dreampop, keeping in mind that ‘musical possibilities are not limited by style’.
    </p> -->
  </Content>
</Layout>
