---
import { SITE_TITLE } from "../config";
---

<footer class="py-5 border-t flex flex-col gap-4 justify-center items-center bg-white">
  <h2 class="text-base hover:underline cursor-pointer flex gap-1 items-center">
    &copy; {SITE_TITLE}
  </h2>
</footer>