---
import { Image } from "astro:assets";
import headImgUrl from '../assets/images/F5VwWL9bEAE0mP2.jpg';
---

<section class="my-12 md:max-w-[640px] md:mx-auto">
  <Image src={headImgUrl} alt="" loading="lazy" decoding="async" class="object-cover w-full h-full" />
</section>
