---
import { Image } from "astro:assets";
import { SITE_TITLE } from "../config";
import headImgUrl from '../assets/images/F5VwWL9bEAE0mP2.jpg';
---

<section class="relative my-12 md:max-w-[640px] md:mx-auto  cursor-pointer">
  <img src="https://prod-1300035182.cos.ap-guangzhou.myqcloud.com/dreamy-coastline-assets%2Fimages%2FF5VwWL9bEAE0mP2.jpg" alt="" />
  <div class="absolute w-full min-h-full inset-0 bg-transparent flex justify-end items-end z-10" >
    <h2 class="text-white font-brand p-3 text-base select-none">
      {SITE_TITLE}
    </h2>
  </div>
</section>
