---
import { Image } from "astro:assets";
import { SITE_TITLE } from "../config";
import headImgUrl from '../assets/images/F5VwWL9bEAE0mP2.jpg';
---

<section class="relative my-12 md:max-w-[640px] md:mx-auto cursor-pointer">
  <Image src={headImgUrl} alt="" loading="lazy" decoding="async" />
  <div class="absolute w-full min-h-full inset-0 bg-transparent flex justify-end items-end z-10" >
    <h2 class="text-white font-brand p-3 text-base select-none">
      {SITE_TITLE}
    </h2>
  </div>
</section>
