---
import { SITE_TITLE } from "../config";
---

<section class="relative md:max-w-[640px] md:mx-auto cursor-pointer">
  <img class="my-12 w-full h-auto" src="/F5VwWL9bEAE0mP2.jpg" alt="Dreamy Coastline">
  <div class="absolute w-full min-h-full inset-0 bg-transparent flex justify-end items-end z-10" >
    <h2 class="text-white font-brand p-3 text-base select-none">
      {SITE_TITLE}
    </h2>
  </div>
</section>
