---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const hrefDefined = href !== null && href !== undefined;
const isActive = hrefDefined ? Astro.url.pathname === href : false;
---

<a href={href} class:list={[className, { active: isActive } ]} {...props}>
  <slot />
</a>

<style>
  a {
    position: relative;
    text-align: center;
    transition: 0.3s ease-in 0s;
    color: #333333;
    line-height: 40px;
    box-sizing: border-box;
    /* font-weight: lighter; */
  }
  a.active {
    font-weight: bolder;
    border-bottom: 2px solid #494e58;
  }
  a:hover {
    /* background-color: #f7fafc; */
    /* text-decoration: underline; */
  }
</style>
