---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MustHead from "../components/MustHead.astro";
import { SITE_DESC, SITE_TITLE } from "../config";

interface Props {
  mustHeader?: boolean;
  title?: string;
}

const { mustHeader = false, title = "" } = Astro.props;
const pageTitle = title !== "" ? `${title} | ${SITE_TITLE}` : SITE_TITLE
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={pageTitle} description={SITE_DESC} />
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
        <Header />
        <main class="flex-1 shrink-0">
          { mustHeader && <MustHead /> }
          <slot />
        </main>
        <Footer />
    </div>
  </body>
</html>
